@import "~bootstrap/scss/bootstrap";


$widthL: 100%;
$small: 450px;
$no-padding: 0px !important;
$margins: 0px;


@media screen and (max-width: $small){
body{
   
    .container-fluid{
        padding: $no-padding;
    }
    .row{
        margin: $margins !important;
    }
    #carouselExampleControls{
        img{
            width: 375px !important;
            height: 224px !important ;
        }
    }
    #carusel{
        .col-12{
            padding: $no-padding;
        }
    }

    .dropdown-menu {
        min-width: 200px;
    }
    .dropdown-menu.columns-2 {
        min-width: 400px;
    }
    .dropdown-menu.columns-3 {
        min-width: 600px;
    }
    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }
    .multi-column-dropdown {
        list-style: none;
      margin: 0px;
      padding: 0px;
    }
    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }

}

}